<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="programmer.lp"/>
    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:path-matching suffix-pattern="false"/>
    </mvc:annotation-driven>
    <mvc:default-servlet-handler/>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 保证请求参数、文件名不会乱码 -->
        <!-- 如果在web.xml中配置了CharacterEncodingFilter这个filter，
             就可以不用加上这个defaultEncoding -->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="programmer.lp.converter.DataConverter">
                    <property name="patterns">
                        <set>
                            <value>yyyy-MM-dd</value>
                            <value>yyyy/MM/dd</value>
                            <value>yyyy年MM月dd日</value>
                        </set>
                    </property>
                </bean>
            </set>
        </property>
    </bean>

</beans>