<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="logAdvice" class="programmer.lp.advice.LogAdvice"/>
    <bean id="logInterceptor" class="programmer.lp.advice.LogInterceptor"/>

    <!--    <aop:config>-->
    <!--        <aop:pointcut id="pc2"-->
    <!--                      expression="within(programmer.lp.service.impl.UserServiceImpl)"/>-->
    <!--        <aop:advisor advice-ref="logAdvice" pointcut-ref="pc2"/>-->
    <!--    </aop:config>-->
    <!--    <aop:config>-->
    <!--        <aop:pointcut id="pc1"-->
    <!--                      expression="execution(public boolean programmer.lp.service.UserService.login(String, String))"/>-->
    <!--        <aop:pointcut id="pc2"-->
    <!--                      expression="execution(* programmer.lp.service.SkillService.delete(..))"/>-->
    <!--        <aop:advisor advice-ref="logInterceptor" pointcut-ref="pc1"/>-->
    <!--        <aop:advisor advice-ref="logAdvice" pointcut-ref="pc1"/>-->
    <!--        <aop:advisor advice-ref="logInterceptor" pointcut-ref="pc2"/>-->
    <!--    </aop:config>-->

    <!--   //////////////////////////////////   -->

<!--    <aop:config>-->
<!--        <aop:pointcut id="pc1"-->
<!--                      expression="execution(public boolean programmer.lp.service.UserService.login(String, String))"/>-->
<!--        <aop:advisor advice-ref="logAdvice" pointcut-ref="pc1"/>-->
<!--        <aop:advisor advice-ref="logInterceptor" pointcut-ref="pc1"/>-->
<!--    </aop:config>-->

<!--    <aop:config>-->
<!--        <aop:pointcut id="pc2"-->
<!--                      expression="execution(* programmer.lp.service.SkillService.delete(..))"/>-->
<!--        <aop:advisor advice-ref="logInterceptor" pointcut-ref="pc2"/>-->
<!--    </aop:config>-->


    <bean id="userService" class="programmer.lp.service.impl.UserServiceImpl"/>
    <bean id="skillService" class="programmer.lp.service.SkillService"/>

</beans>

